:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /*size */

    --size-padding: 8px;
    --size-imgbtn: 60px;
    --size-margin: 10px;
    --size-font: 18px;
    --size-border: 4px;
    --size-item-width: 500px;
}

body {
    background-color: var(--color-black);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    cursor: pointer;
    transition: transform 300ms ease;
}

.logo:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    align-items: center;
    
}

.btn {
    cursor: pointer;
    transition: transform 300ms ease;
    background-color: var(--color-black);
    border: none;
    font-size: var(--size-font);

}

.btn:hover {
    transform: scale(1.1);
}

.btn_img {
    height: var(--size-imgbtn);
    width : var(--size-imgbtn);
    padding : var(--size-padding);
}

.colorBtn {
    padding: calc(var(--size-padding) * 2);
    margin:  var(--size-margin);
    border-radius: var(--size-border);
}

.blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.pink {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.yellow {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.items {    
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0px;

}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--size-margin);
    padding: var(--size-padding);
    background-color: var(--color-white);
    border-radius: var(--size-border);
    
}

.item_thumbnail {
    width: var(--size-imgbtn);
    height: var(--size-imgbtn);
}

.content {
    padding: var(--size-padding);
    margin-left: var(--size-margin);
}